
<div class="professionality"> 
  <div class="wrap">
    <nav>
      <ul>
        <li><a href="#section-1" du-smooth-scroll du-scrollspy>Step 1</a></li>
        <li><a href="#section-2" du-smooth-scroll du-scrollspy>Step 2</a></li>
        <li><a href="#section-3" du-smooth-scroll du-scrollspy>Step 3</a></li>
        <li><a href="#section-4" du-smooth-scroll du-scrollspy>Professionality</a></li>
      </ul>
    </nav>
    <section id="section-1" style="background: url(http://c67bfc7c934596c5d2de-384a0fe271c727cec0e8a9b32788243a.r54.cf1.rackcdn.com/professionality-creative-bg.jpg); background-size: cover;   background-position-x: 50%;">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <img src="http://c67bfc7c934596c5d2de-384a0fe271c727cec0e8a9b32788243a.r54.cf1.rackcdn.com/Creative_and_decisive.svg" alt="" />
          </div>
        </div>
      </div>
    </section>
  
    <section id="section-2">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="col-sm-4">
              <div class="col-xs-7 col-xs-offset-3 text-center">
                <img src="http://c67bfc7c934596c5d2de-384a0fe271c727cec0e8a9b32788243a.r54.cf1.rackcdn.com/OurWeave.svg" alt="" />
                <h5>Our Weave</h5>
                <p>We are a 2nd generation family owned textile company focused on the Hospitality Industry. Fabric is our business and our passion! We’re fast-paced, always on the edge of cool new things, fun and goal-oriented all while focusing on making deep impactful relationships with our colleagues, our supply chain and our customers.</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="col-xs-7 col-xs-offset-3 text-center">
                <img src="http://c67bfc7c934596c5d2de-384a0fe271c727cec0e8a9b32788243a.r54.cf1.rackcdn.com/Nature.svg" alt="" />
                <h5>Nature</h5>
                <p>Our customer service possibilities are endless and every day we focus on meaningful impact. A company is truly measured by its team’s response to challenge. Creating raving fans requires a strong leader to be humble, smart, driven and empowered!</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="col-xs-7 col-xs-offset-3 text-center">
                <img src="http://c67bfc7c934596c5d2de-384a0fe271c727cec0e8a9b32788243a.r54.cf1.rackcdn.com/nurture.svg" alt="" />
                <h5>Nurture</h5>
                <p>We take our culture and company seriously, just not ourselves! Company culture is just as important to us as success. We are creating a culture where we are surroundedwith vivid forward thinkers, motivated and energetic people who also know how to laugh and have fun, all while getting things accomplished!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <section id="section-3" style="background: url(http://c67bfc7c934596c5d2de-384a0fe271c727cec0e8a9b32788243a.r54.cf1.rackcdn.com/professionality-think_this_is_a_match.jpg); background-size: cover;   background-position-x: 50%;">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <img class="col-xs-12" src="http://c67bfc7c934596c5d2de-384a0fe271c727cec0e8a9b32788243a.r54.cf1.rackcdn.com/clear.png" alt="" />
            <a class="col-sm-3 text-center" href="#section-4" du-smooth-scroll du-scrollspy ><h4>See if we match<div class="col-xs-1" style="float:none; margin: 0 auto;" ><img class="col-xs-6"  style="float:none; margin: 0 auto;"  src="http://c67bfc7c934596c5d2de-384a0fe271c727cec0e8a9b32788243a.r54.cf1.rackcdn.com/arrow_professionality.svg" /></div></h4></a>
          </div>
        </div>
      </div>
      <div>
      
    </div>
    </section>
  
    <section id="section-4">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 hirology">
            <iframe class="" name="easyXDM_HIREOLOGY_default4483_provider" id="easyXDM_HIREOLOGY_default4483_provider" frameborder="0" src="http://wy.hireology.com/widget?xdm_e=http%3A%2F%2Fwww.valleyforge.com&amp;xdm_c=default4483&amp;xdm_p=1" style="height: 100%; width: 100%; overflow-y: visible;"></iframe>
          </div>
        </div>
      </div>,
    </section>
  </div>
</div>
