<div class="wu-cms-content-block ng-isolate-scope">
  <div>
    <div class="wu-cms-content-block__title_bar__inner" style=";">
      <div class="container">
        <div id="" class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="title_bar">
              <h1 class="page-title ng-binding">Bedding</h1>
              </div>
          </div>
        </div>
      </div>
      <span class="wu-cms-content-block__title_bar__overlay " style="background-color:rgba(0, 0, 0, 0.3); background-image: url( http://c67bfc7c934596c5d2de-384a0fe271c727cec0e8a9b32788243a.r54.cf1.rackcdn.com/54f9_title_bar-bedding.jpg ); opacity: 0.4"></span>
    </div>
  </div>
</div>
<div class="wu-cms-content-block ng-isolate-scope wu-cms-content-block--center">
  <div class="container">
    <div class="row">
      <div class="">
        <div class="wu-cms-content-block__standard_block">
          <h1 ng-bind="productDetail.name"></h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wu-cms-content-block ng-isolate-scope wu-cms-content-block">
  <div class="container">
    <div class="row">
      <div>
        <div class="col-sm-6 col-md-6 wu-cms-content-block__two-column">
              <img ng-src="{{productDetail.image}}" style="width: 100%;"/>
        </div>
        <div class="col-sm-6 col-md-6 wu-cms-content-block__two-column">
          <p ng-bind-html="productDetail.description"></p>
          <div class="button_container">
            <div>
              <i class="product_icon sustainable_icon"></i>
              <a class="product_icon spec_icon" ng-href="#productDetail.spec"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wu-cms-content-block ng-isolate-scope wu-cms-content-block--center">
  <div>
    <div class="container">
      <div class="row">
        <div class="">
          <div class="wu-cms-content-block__standard_block">
            <p>
              <a class="wu-btn wu-btn--inline ng-binding wu-btn--transparent-black" href="#/lp/contact-us">Contact Us</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>